* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--texttheme);
}

body {
    --bgtheme: #151519;
    --texttheme: rgb(238, 238, 238);
    --green-accent: #28CA9B;
    height: 200vh;
    background: var(--bgtheme);
    transition: background 2.5s;
}

html {
    scroll-behavior: smooth;
}

.cover-screen {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: #0F0F0F;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 500%;
    z-index: 10;
}

.cover-screen h1 {
    color: #64E8B0;
    pointer-events: none;
}

.intro-text h1 {
    letter-spacing: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    position: sticky;
    width: 100%;
    height: 10vh;
}

.nav-items li :hover {
    color: #28CA9B;
}

.nav-items li a {
    text-decoration: none;
    color: var(--texttheme);
}

body>header {
    position: relative;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.future {
    width: 50%;
}

.philosophy {
    height: 100vh;
    position: relative;
}

.philosophy>h1 {
    padding: 2%;
    font-size: 3rem;
    text-align: center
}

p {
    line-height: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    margin-top: 5px;
}

@media only screen and (min-width: 600px) {

    .nav-items {
        height: 100%;
        width: 100%;

        list-style: none;

        display: flex;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer;
    }

    .nav-items li {
        padding: 5%;
        padding-left: 0;
        cursor: pointer;
        color: var(--texttheme);
        -webkit-transition: color 1s;
        transition: color 1s;
    }


    .nav-items li a:hover {
        color: #28CA9B;
    }

    .cia-tag {
        position: absolute;
        left: 5%;
        font-weight: 1000;
    }

    .home-img img {
        position: absolute;
        width: 100%;
        top: 0;
        left: -5%;
        z-index: -10;
    }

    .two {
        display: grid;
        grid-template-columns: 1fr 1fr;


    }

    .two div {
        width: 50vw;
        padding: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .two div img {
        margin: 4%;
        width: 50%;
    }

    .two div p,
    .two div h1 {
        text-align: center;
    }

    .philosophy-texts {
        height: 50vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .philosophy-texts>div {
        margin: auto;
        width: 40vw;
        text-align: center;
    }

    .philosophy img {

        position: absolute;
        bottom: 0;
        left: 50%;
        width: 35%;
        transform: translateX(-50%);
        pointer-events: none;
        z-index: -10;
    }

    .bottom-nav {
        display: none;
    }

}

/*UNIVERSAL TESTING*/
.intrest-groups {
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.intrest-groups text {
    margin: 50px;
    width: 50%;
}

.intrest-groups>text>h1 {
    margin-bottom: 10px;
    font-size: 2rem;
}

.intrest-groups>text>p {
    line-height: 22px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
}

.intrest-groups>div {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
}

.intrest-groups a {
    color: var(--green-accent);
}

.intrest-groups>div>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.intrest-groups>main {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.intrest-groups>main>h1 {
    color: rgb(12, 12, 20);
    position: absolute;
}

.intrest-groups>main h1:nth-child(1) {
    top: 10px;
    right: 300px;
}

.intrest-groups>main h1:nth-child(2) {
    top: 100px;
    left: 100px;
}

.intrest-groups>main h1:nth-child(3) {
    bottom: 100px;
    left: 50px;
}

.intrest-groups>main h1:nth-child(4) {
    bottom: 100px;
    right: 50px;
}

/* FOOTER */
footer {
    width: 100%;
    height: auto;
    padding: 50px;

    background: rgb(15, 15, 20);

    display: flex;
    align-items: stretch;
}

footer .contact-section>h3,
footer .contact-section a {
    color: var(--green-accent);
    margin-bottom: 10px;

}

footer .contact-section a {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

/**/
@media only screen and (max-width: 600px) {

    .about-btn,
    .events-btn,
    .projects-btn {
        display: none;
        width: 0;
        height: 0;

    }

    .nav-items {
        height: 100%;
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer;
    }

    .nav-items li {
        padding: 5%;
        width: auto;
        padding-left: 0;
        cursor: pointer;
        -webkit-transition: color 1s;
        transition: color 1s;
    }

    .cia-tag {
        position: absolute;
        top: 10%;
        left: 10%;
        font-weight: 1000;
        font-size: 2em;
    }

    .home-img img {
        position: absolute;
        width: 200%;
        height: 100vh;
        bottom: -20%;
        left: -35%;
        z-index: -10;
    }

    .welcometxt {
        position: absolute;
        top: 10%;
        left: 10%;
        width: 50%;
        height: 100vh;

    }

    .welcometxt h1 {
        text-shadow: 1px 1px 10px black;
    }

    .two {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .two :nth-child(2) {
        order: 2;
    }

    .two :nth-child(4) {
        order: 4;
    }

    .two div {
        width: 100%;
        padding: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .two div img {
        margin: 4%;
        width: 50%;
    }

    .two div p,
    .two div h1 {
        text-align: center;
    }

    .philosophy-texts {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .philosophy-texts>div {
        margin: 5%;
        width: 90%;
        text-align: center;
    }

    .philosophy img {

        position: absolute;
        bottom: 10%;
        left: 60%;
        width: 60%;
        transform: translateX(-50%);
        z-index: -100;
        pointer-events: none;
    }

    /* ....................... */
    .bottom-nav {
        position: fixed;
        bottom: -1px;
        width: 100%;
        height: 8%;
        background-color: rgb(12, 12, 14);
        box-shadow: 0px -8px 15px rgba(0, 0, 0, 0.2);
        z-index: 10;

        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .bottom-nav a {
        text-decoration: none;
        color: var(--texttheme);
    }

    .selected-tab {
        font-size: 1.5rem;
        color: var(--green-accent);
        transition: all 100ms;
    }

    .intrest-groups {
        height: 100vh;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

    }

    .intrest-groups text {
        margin: 25px;
        width: 100%;
    }

    .intrest-groups>text>h1 {
        margin-bottom: 10px;

    }

    .intrest-groups>div {
        position: absolute;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -10;
    }

    .intrest-groups a {
        color: var(--green-accent);
        font-size: 1.4rem;
    }

    .intrest-groups>div>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .intrest-groups>main {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .intrest-groups>main>h1 {
        color: rgb(12, 12, 20);
        position: absolute;
    }

    .intrest-groups>main h1 {
        display: none;
    }

    .intrest-groups h1 {
        font-size: 3rem;
    }

    .intrest-groups p {
        font-size: 1.2rem;
        width: 100%;
        line-height: 3vh;
    }
}