* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--texttheme);
}

body {
    --bgtheme: white;
    --texttheme: black;
    height: 200vh;
    background: var(--bgtheme);
}

html {
    scroll-behavior: smooth;
}

.cover-screen {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: #0F0F0F;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 500%;
    z-index: 10;
}

.cover-screen h1 {
    color: #64E8B0;
    pointer-events: none;
}

.intro-text h1 {
    letter-spacing: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    position: relative;
    width: 100%;
    height: 10vh;
}

.about-btn,
.events-btn,
.projects-btn {
    display: none;
}

.nav-items {
    height: 100%;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.nav-items li {
    padding: 5%;
    padding-left: 0;
    cursor: pointer;
    -webkit-transition: color 1s;
    transition: color 1s;
}

.nav-items li :hover {
    color: #28CA9B;
}

.nav-items li a {
    text-decoration: none;
    color: black;
}

.cia-tag {
    position: absolute;
    top: 10%;
    left: 10%;
    font-weight: 1000;
    font-size: 2em;
}

header {
    position: relative;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    scroll-snap-align: end;
}

.future {
    width: 50%;
}

.home-img img {
    position: absolute;
    width: 200%;
    height: 100vh;
    bottom: -20%;
    left: -35%;
    z-index: -10;
}

.welcometxt {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 50%;
    height: 100vh;
}

.two {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.two :nth-child(2) {
    order: 2;
}

.two :nth-child(4) {
    order: 4;
}

.two div {
    width: 100%;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.two div img {
    margin: 4%;
    width: 50%;
}

.two div p,
.two div h1 {
    text-align: center;
}


.philosophy {
    height: 100vh;
    position: relative;
}

.philosophy>h1 {
    padding: 2%;
    font-size: 3rem;
    text-align: center
}

.philosophy-texts {
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.philosophy-texts>div {
    margin: 5%;
    width: 90%;
    text-align: center;
}

.philosophy img {

    position: absolute;
    bottom: 10%;
    left: 60%;
    width: 60%;
    transform: translateX(-50%);
    z-index: -100;
}

.events-projects {
    width: 100%;
    position: relative;
    height: 100vh;
    margin-top: 2%;
}

.epnav>h1 {
    padding: 2%;
    font-size: 3rem;
    text-align: center
}

.epnav>h1 strong:nth-child(1) {
    color: #28CA9B;
}

.epnav>h1 strong {
    cursor: pointer;
}

.epnav {
    display: flex;
    justify-content: center;
}

.epnav img {
    position: absolute;
    right: 10%;
    top: 5%;
    width: 20%;
    object-fit: contain;
    z-index: -10;
}




.events-section {
    width: 100%;
    height: 80%;

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.event {
    width: 100%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    padding: 1%;
    height: 40vh;

}

.event-img,
.about-event {
    width: 90%;
    height: 95%;
    margin: auto;
}

.event-img {
    margin-bottom: 3%;
}

.event-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.about-event {}

.old-events {
    width: 100%;
    margin: 1%;
    padding: 1%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    background: white;
    border-radius: 8px;
    box-shadow: -5px 0px 20px rgba(0, 0, 0, 0.178);
}

.old-events .event {
    flex: 0 0 auto;
    width: 50%;
    height: 90%;
    /* background: yellow; */
    display: flex;
    font-size: small;
}

.old-events .event .about-event {
    overflow: hidden;
}

.selected-text {
    color: #28CA9B;
    text-transform: uppercase;
    text-decoration: underline;
    transition: all 200ms cubic-bezier(.1, 0, 0, 1);
}

.unselected-text {
    color: rgb(106, 106, 106);
    text-transform: lowercase;
    font-size: 2.3rem;
    transition: all 200ms cubic-bezier(.1, 0, 0, 1);
}