* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--texttheme);
}

body {
    --bgtheme: #151519;
    --texttheme: rgb(238, 238, 238);
    --green-accent: #28CA9B;
    height: auto;
    background: var(--bgtheme);
    transition: background 2.5s;
}

html {}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
    height: 10px;

}

::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 1); */
    background: rgb(15, 15, 20);
    border-radius: 0px;
}


::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba(0, 0, 0, .5);
    background: rgb(86, 207, 157);
    /* -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5); */
}

.about-project p {
    color: rgba(255, 255, 255, 0.76);
    line-height: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.projects {
    height: 100vh;
    width: 100%;

    display: grid;
    grid-template-columns: 60% auto;
    /* background-color: yellow; */
}

/* leftsection */
.left-project {
    padding: 20px;
    background: var(--bgtheme);
}

.left-project>h1 {
    color: var(--green-accent);
    font-size: 1.6rem;
}

.right-project {
    padding: 10px;
    background: #111113;
}

.left-project-child {
    display: grid;
    grid-template-columns: 1fr;
}

.left-project-child-left {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.project-tag {
    font-weight: 200;
    font-size: 1rem;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-right: 10px;
    text-align: right;
}


.project-img {
    margin-top: 15px;
    margin-bottom: 15px;
    overflow: hidden;
    border-radius: 6px;
    background: gray;
    width: 95%;
    height: 40vh;
}

.project-img>img {
    width: 100%;
    height: 100%;
    padding: 0;
    object-fit: cover;
}

.about-project {
    width: 95%;
}

.about-project h1 {
    margin-bottom: 10px;
}

.right-project {
    position: relative;
    padding: 20px;
    overflow-y: hidden;
}

.right-project>h1 {
    font-size: large;
}

.project-list {
    list-style: none;
    height: 100vh;
    overflow-y: scroll;
    padding-bottom: 200px;
}

.project-gradient {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(transparent, #111113, #111113);
    pointer-events: none;
}

.project-list li {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    margin-top: 10px;
    width: 100%;
    height: fit-content;
}


.right-project .project-img {
    width: 100%;
    height: auto;
}

.about-project-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 15px;
    padding-right: 20px;
    width: 100%;
    height: fit-content;
}

.about-project-right h1 {
    font-size: large;
}

.about-project-right p {
    font-size: small;
    height: fit-content;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.849);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bottom-nav {
    display: none;
}

.date{display:none}

@media only screen and (max-width: 600px) {
    .date{display:none}


    .projects {
        display: block;
    }

    .left-project {
        height: fit-content;
        padding-bottom: 30px;
    }

    .right-project {
        width: 100%;
        height: 100%;
    }

    .right-project>h1 {
        font-size: xx-large;
        color: var(--green-accent);
    }

    .bottom-nav {
        position: fixed;
        bottom: -1px;
        width: 100%;
        height: 8%;
        background-color: rgb(12, 12, 14);
        box-shadow: 0px -8px 15px rgba(0, 0, 0, 0.2);
        z-index: 10;

        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .bottom-nav a {
        text-decoration: none;
        color: var(--texttheme);
    }

    .selected-tab a {
        font-size: 1.5rem;
        color: var(--green-accent);
        transition: all 100ms;
    }
}